.filter {
  display: flex;
  gap: 20px;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    
    &:first-child {
      flex: 1;
    }
  
  }

  &__label {
    white-space: nowrap;
  }

  &__select {
    min-width: 120px;
  }
}
