<form class="filter" [formGroup]="form">
  <div class="filter__item">
    <input
      nz-input
      placeholder="Search"
      formControlName="search"
    />
  </div>
  <!-- add more filters here -->
  <!-- <div class="filter__item">
    <span class="filter__label">Active:</span>
    <div class="filter__select">
      <nz-select
        style="width: 120px"
      >
        <nz-option [nzValue]="null" nzLabel="All"></nz-option>
        <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Inactive"></nz-option>
      </nz-select>
    </div>
  </div> -->
</form>
